<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.evenless.tersicore">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".TersicoreApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".MediaPlayerService"
            android:exported="false" />

        <activity
            android:name=".activities.MainActivity" />
            <!-- android:screenOrientation="nosensor" -->

        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SearchActivity"
            android:label="@string/title_activity_main3" />
        <activity
            android:name=".activities.ArtistsActivity"
            android:label="@string/title_activity_artists" />
        <activity
            android:name=".activities.AlbumsActivity"
            android:label="@string/title_activity_albums" />
        <activity
            android:name=".activities.TracksActivity"
            android:label="@string/title_activity_tracks" />
        <activity
            android:name=".activities.SingleArtistActivity"
            android:label="@string/title_activity_artist" />
        <activity
            android:name=".activities.SingleAlbumActivity"
            android:label="@string/title_activity_album" />
        <activity
            android:name=".activities.PlaylistListActivity"
            android:label="@string/title_activity_playlist" />
        <activity
            android:name=".activities.PlaylistsActivity"
            android:label="@string/title_activity_playlists" />
        <activity android:name=".activities.SingleEmailActivity" />
        <activity android:name=".activities.SendMail" />
        <activity android:name=".activities.EmailsActivity" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"></activity>
    </application>

</manifest>